@import "../styles/PathfindingVisualizer.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;1,700&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: #161616;
  font-family: Poppins;
  color: white;
  letter-spacing: 1px;
}

.container {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
}
