.node {
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid black;
  transition: all ease-in-out 0.2s;
}

.nodeStart {
  background-color: green;
}

.nodeFinish {
  background-color: red;
}

.isVisited {
  background-color: red;
}

.wall {
  background-color: black;
}
